<section id="events" class="block">
    <div class="container">
        <div class="row">
          <div class="col-sm-5 col-md-3  col-md-offset-1 col-sm-offset-1">
            <div class="thumbnail">
              <img src="/img/slide-02.jpg" alt="Evento a">
              <div class="caption">
                <h3>Evento a</h3>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="/img/slide.jpg" alt="Evento b">
              <div class="caption">
                <h2>Evento b</h2>
                <p>
                    <h3>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
                    </h3>

                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-5 col-md-3">
            <div class="thumbnail">
              <img src="/img/slide-02.jpg" alt="Evento c">
              <div class="caption">
                <h3>Evento c</h3>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a href="#"><h2>más eventos</h2></a>
        </div>
    </div>

</section>
