
<!-- Modal -->
<div class="modal fade" id="israel" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://www.gravatar.com/avatar/8f90ff5fd8ecf9d6fe54953d856bba45?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Israel Antezana</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Bolivia</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/israelantezana" target="_blank">Twitter</a>
                            <a href="http://www.linkedin.com/in/israelantezanar" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Mi pasión es el desarrollo de software. Mi motivación es estimular el mejoramiento profesional de las personas.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Ritmo sostenible: ¿Estás seguro que lo mantienes?</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Jueves 22 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>10:50</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="yamit" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="https://s.gravatar.com/avatar/ce5bae662027787ad70ba1f7add1eaff?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Yamit Cárdenas</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Colombia</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/yamitcar" target="_blank">Twitter</a>
                            <a href="http://co.linkedin.com/in/ingyamitc" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Militante de la gran revolución gestada por el movimiento ágil en el mundo, apasionado por la creación de software y comprometido en ayudar a las personas y las organizaciones a mejorar continuamente.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Expiando mi código legacy</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>jueves 22 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>11:40</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="rick" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="https://s.gravatar.com/avatar/d3968e159690384999aebc9f0f62b828?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Ricardo Colusso</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Argentina</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/rcolusso" target="_blank">Twitter</a>
                            <a href="http://www.linkedin.com/in/ricardocolusso" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Contamos con nuevas formas de trabajo que nos permiten ser mucho más efectivos e innovadores. Mi trabajo es ayudar a personas y organizaciones a cumplir estos objetivos con altos niveles de satisfacción.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>5 dimensiones y 10 herramientas de innovación</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Viernes 23 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>10:50</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="juan" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://www.gravatar.com/avatar/72c191f31437b3250822b38d5f57705b?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Juan Gabardini</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Argentina</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/jgabardini" target="_blank">Twitter</a>
                            <a href="http://www.linkedin.com/in/jgabardini" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Me apasiona el aprendizaje y la mejora, la calidad y los resultados. Busco compartirlo con personas, equipos, organizaciones y comunidades. Mis focos son el desarrollo de software y el testing.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>F*** the Manifest!</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Viernes 23 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>14:50</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="hiro" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="https://s.gravatar.com/avatar/3a39c4fe86b368b3d7499ab28997541d?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Hiroshi Hiromoto</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Perú</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/hhiroshi" target="_blank">Twitter</a>
                            <a href="http://www.linkedin.com/in/hhiroshi" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Creo firmemente que la mejora continua es la llave para tener equipos productivos y felices, y que ésta se lleva a cabo mediante la introspección y acciones concretas. Mi compromiso es ayudar a las personas y organizaciones a llevarla a cabo.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Toyota Kata: Grandes desafíos en pequeños pasos!</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Jueves 22 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>15:40</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="luis" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="https://s.gravatar.com/avatar/a116e2b230e6738dc704cedd3662f07e?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Luis Mulato</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Colombia</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/luismulato" target="_blank">Twitter</a>
                            <a href="http://linkedin.com/in/luismulato" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Me apasionan las mejores prácticas en Ingeniería de Software aplicadas pragmáticamente al mundo real. Mi compromiso como agilista es facilitar en los equipos la creación de grandes productos, con alta calidad, maximizando su felicidad y el valor dado al cliente en el proceso. .</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>¿Cómo propagar la Agilidad a través de la generación de un Movimiento?</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Viernes 23 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>17:45</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="angel" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="https://s.gravatar.com/avatar/a7119e9b6be678f43708b31d0258c37c?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Angel Núñez</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Perú</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/snahider" target="_blank">Twitter</a>
                            <a href="http://www.linkedin.com/in/snahider" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Creo firmemente que la comunicación, confianza, respeto y feedback son las bases para lograr productos de calidad y personas felices. Mi compromiso es ayudar a las personas y organizaciones a crecer en estos valores, y ayudarlos a crear productos que sean "importantes".</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Test Driven Infrastructure</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Jueves 22 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>16:55</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="gustavo" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="https://s.gravatar.com/avatar/d884bfc94976ad940fc40e12dc156758?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Gustavo Quiroz</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Perú</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/quiroz_gustavo" target="_blank">Twitter</a>
                            <a href="http://pe.linkedin.com/in/gustavoquiroz" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Empecé "como jugando" a aplicar Scrum y XP hace ya 8 años. Mi misión es ayudar a formar agentes de cambio a través del coaching, la mentoría y el training. Disfruto trabajando con personas y equipos, generando un impacto positivo en su desempeño profesional y personal.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Liderazgo Consciente a través de Interacciones Impecables</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Viernes 23 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>14:50</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="martin" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="http://www.gravatar.com/avatar/d30d818ef612cb5f4de1b8514a8b1996?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Martín Salías</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Argentina</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/MartinSalias" target="_blank">Twitter</a>
                            <a href="http://www.linkedin.com/in/msalias" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Me gusta trabajar con equipos que buscan innovar y mejorar constantemente, para disfrutar el trabajo que hacen, lo que siempre genera mejores resultados. Mi compromiso es ayudar a las organizaciones a brindar un marco donde los profesionales compartan una atmósfera de orgullo y entusiasmo.</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Introducción a LeSS (Large Scale Scrum)</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Jueves 22 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>14:50</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->

<!-- Modal -->
<div class="modal fade" id="pablo" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="speaker-wrapper">
                    <div class="speaker">
                        <aside class="image">
                            <img src="https://s.gravatar.com/avatar/74734f9ceda241e1b2f5c3174e47158c?size=125" alt="">
                        </aside>
                    </div><!-- .speaker -->
                    <div class="speaker-name">
                        <h1>Pablo Tortorella</h1>
                        <h2>Agile Coach & Trainer</h2>
                        <h3>Argentina</h3>
                    </div>
                </div>
            </div><!-- .modal-header -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="social">
                            <a href="https://twitter.com/pablitux" target="_blank">Twitter</a>
                            <a href="http://www.linkedin.com/in/pablotortorella" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <p>Me apasionan las actividades comunitarias y disfruto compartiendo conocimientos y experiencias, así como también colaborando con la mejora continua de equipos de trabajo!</p>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer">
                <div class="speak">
                    <div class="row">
                        <div class="col-md-8 col-sm-7">
                            <div class="title"><h3>Sostenibilidad de transformaciones Organizacionales</h3></div>
                        </div>
                        <div class="col-md-4 col-sm-5">
                            <div class="date-time">
                                <div class="date">
                                    <i class="fa fa-calendar"></i>
                                    <figure>Viernes 23 de Octubre</figure>
                                </div>
                                <div class="time">
                                    <i class="fa fa-clock-o"></i>
                                    <figure>16:55</figure>
                                </div>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .speak -->
            </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- #modal1 -->
