<!-- Slider -->
<div class="slider">
    <div class="overlay">
        <div class="container">
            <div class="information">
                <div><i class="fa fa-map-marker"></i>Montevideo</div>
                <div><i class="fa fa-calendar"></i>22/10/2015</div>
            </div>
            <div class="title-wrapper">
                <div class="title expand move"><h1>¡Estuvimos en Ágiles 2015!</h1></div>
                <div class="title expand move"><h1>VIII Jornadas Latinoamericanas de Metodologías Ágiles</h1></div>
            </div>
            <!-- div class="call-to-action">
                <a href="#register" class="roll">Register!</a>
            </div -->
        </div>
    </div>
    <div id="slider" class="owl-carousel has-parallax">
        <div class="slide">
            <img src="/img/slide.jpg" alt="">
        </div>
        <div class="slide">
            <img src="/img/slide-02.jpg" alt="">
        </div>
    </div>
</div>
<!-- end Slider -->
