        <!-- Schedule -->
        <section class="block background-color-grey-light" id="schedule">
            <div class="container">
                <header>
                    <h2><a href="#schedule" class="roll">Sesiones de Kleer en Ágiles 2015</a></h2>
                </header>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#day1" role="tab" data-toggle="tab">Jueves 22/Oct</a></li>
                    <li><a href="#day2" role="tab" data-toggle="tab">Viernes 23/Oct</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="day1">
                        <div class="panel-group" id="schedule-table-day1">
                            <div class="panel panel-default">
                                <a href="#day1-1" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day1">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>10:50</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Ritmo Sostenible: ¿Estás seguro que lo mantienes?</h3>Israel Antezana - Bolivia</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day1-1" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>¿Pueden los equipos ágiles, de buen rendimiento, experimentar estrés e incluso niveles de ansiedad que implica que su ritmo de trabajo no será sostenible en el tiempo?. No solo a nivel de equipo sino también a nivel de individuo, muchas veces no somos conscientes de nuestros pensamientos y emociones que pueden generarnos altos niveles de estrés y ansiedad. Y solo notamos su existencia cuando se escapan de nuestro control. Pero la mayor parte del tiempo es como si estos pensamientos y emociones permanecieran relegadas a segundo plano, aunque condicionando nuestra visión y accionar en la vida.</p>

                                                <p>En esta sesión nos concentraremos en reconocer la influencia que tienen los pensamientos y emociones en nuestro bienestar ya sea como individuos o miembros de equipos de trabajo. Y hablaremos de algunas técnicas concretas, como el ABCD de Ellis y la meditación, para lograr un mayor nivel de consciencia que se refleje en un ritmo de trabajo sostenible en el tiempo.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day1-2" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day1">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>11:40</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Expiando mi código legacy</h3>Yamit Cárdenas - Colombia</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day1-2" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>¿Quién es el culpable de que el código legacy exista?</p>

                                                <p>RTA: ¡YO!</p>
                                                <p>Somos los desarrolladores quienes formamos estas marañas de código que tanta mala vida nos dan.</p>

                                                <p>Durante esta charla buscamos encontrar un camino, una guía o una luz, que nos lleve a acabar con este mal hábito. Hablaremos de ADKAR como mecanismo de ayuda para enfrentar este mal hábito, también explorando diferentes teorías y prácticas que nos ayuden a abordar esta problemática.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day1-3" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day1">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>14:50</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Introducción a LeSS (Large Scale Scrum)</h3>Martín Salías - Argentina</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day1-3" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>LeSS cubre la problemática de utilizar Scrum en entornos grandes y complejos sin cambiar el framework subyacente. No agrega roles, artefactos o ceremonias, y sobre todo mantiene los principios y valores de Scrum intactos.</p>

                                                <p>Lo que LeSS provee es una manera probada en muchas empresas de organizar una estrategia de "Scrum de Scrums" de manera sencilla, basándose en dividir y reportar a nivel de los equipos, agregando momentos específicos dentro de algunas ceremonias para que los equipos trabajen primero todos juntos y luego por separado, pudiendo mantenerse a la vez autónomos e independientes pero altamente coordinados.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day1-4" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day1">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>15:40</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Toyota Kata: Grandes desafíos en pequeños pasos</h3>Hiroshi Hiromoto - Perú</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day1-4" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Algo recurrente en casi cualquier organización es el deseo por ser mejores en algún aspecto, ya sea en reconocimiento, en ganancias, en la calidad de su producto o felicidad de sus colaboradores. Algo igual de recurrente, independientemente de sus desafíos, es que existe una gran dificultad para convertir esos deseos de mejora en mejoras concretas y una mayor dificultad aún, para sostenerlas en el tiempo.</p>

                                                <p>Toyota Kata busca ayudar a superar ambas dificultades a través del uso de dos patrones, que permitan lograr y sostener mejoras continuamente en una organización con relación a un desafío. El primer patrón llamado Improvement Kata está enfocado en dar pasos que nos permitan ir acercándonos al desafío mejorando continuamente y el Coaching Kata, el segundo patrón, está enfocado en lograr la sostenibilidad del primer patrón dentro de la organización, a fin de que no solo sea una mejora puntual sino que dure a lo largo del tiempo.</p>

                                                <p>En esta charla recorreremos en qué consisten ambos patrones, cómo las organizaciones ágiles se pueden beneficiar de ellos y contaremos experiencias de su aplicación en diferentes contextos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day1-5" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day1">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>16:55</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Test Driven infrastructure</h3>Angel Nuñez - Perú</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day1-5" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Esta sesión tiene como objetivos comprender qué es la práctica de infraestructura como código, por qué es necesaria su adopción y cómo en combinación con otras prácticas ágiles (Diseño dirigido por pruebas, Integración Continua) forma una pieza clave para extender el Desarrollo Ágil por todo el camino hasta operaciones y administración de sistemas.</p>

                                                <p>Durante la sesión implementaremos en vivo un módulo para provisionar un servidor de integración continua utilizando infraestructura como código, automatización de pruebas unitarias y sistema, diseño dirigido por pruebas e integración continua.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                        </div>
                    </div><!-- .tab-pane -->

                    <div class="tab-pane fade" id="day2">
                        <div class="panel-group" id="schedule-table-day2">
                            <div class="panel panel-default">
                                <a href="#day2-1" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day2">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>10:50</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>5 dimensiones y 10 herramientas de innovación</h3>Ricardo Colusso - Argentina</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day2-1" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Cuando buscamos en Internet por la palabra "innovación" nos encontramos con 58.300.000 páginas sobre el tema, pero al momento de diseñar planes de acción concretos para potenciar la innovación en nuestros equipos y organizaciones nos resulta difícil acceder a material detallado y de aplicación directa.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day2-2" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day2">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>14:50</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>F*** the Manifest!</h3>Juan Gabardini - Argentina</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day2-2" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Han pasado 15 años desde la escritura del Agile Manifest. En este tiempo hemos, como profesión, aprendido mucho y el contexto cambió. Parte del aprendizaje y el cambio de contexto fue producido por el Manifiesto, pero lo que era un desafío y llamado a la revolución se ha convertido para algunos en dogma. Los valores nos guían en nuestro día a día, si los del Manifiesto no nos representan, quizás necesitamos otros.</p>
                                                <p>En esta sesión desafiaremos los valores del manifiesto y veremos que todos se caen, por obsoletos o irrelevantes, excepto uno.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day2-4" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day2">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>14:50</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Liderazgo Consciente a través de Iteracciones Impecables</h3>Gustavo Quiroz - Perú</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day2-4" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Si queremos llevar la agilidad mucho más allá de equipos y proyectos aislados, se hace necesario transformar la cultura de la organización hacia niveles más conscientes de pensamiento, conducta individual e interacción entre personas.</p>

                                                <p>El punto de apalancamiento fundamental para esta transformación cultural son los líderes, tanto formales como fácticos, pues son ellos quienes se convierten en los modelos de comportamiento por defecto, emitiendo continuamente mensajes acerca de cómo se espera que las personas actúen para ser exitosas dentro de la organización.</p>

                                                <p>En este taller practicaremos los aspectos más importantes de Conscious Business y Conscious Business Coaching, el estilo de coaching asociado a este cuerpo de conocimiento, para ayudar a que los asistentes se conviertan en el cambio que desean ver en su empresa y que, a su vez, puedan guiar a sus colegas y colaboradores en este camino.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day2-3" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day2">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>16:55</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>Sostenibilidad de Transformaciones Organizacionales</h3>Pablo Tortorella - Argentina</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day2-3" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>Esta sesión tiene como objetivos sensibilizar a los participantes sobre la importancia de la sostenibilidad de las transformaciones organizacionales que protagonicen, en particular las relacionadas con el paradigma ágil, así como también dar a conocer de forma teórico-práctica el marco de sostenibilidad co-creado inicialmente en el evento #SCRLA15 en Buenos Aires y mantenido en los meses posteriores por diversos participantes de la comunidad ágil latinoamericana.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                            <div class="panel panel-default">
                                <a href="#day2-4" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-day2">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2">
                                            <div class="time">
                                                <i class="fa fa-clock-o"></i>
                                                <figure>17:45</figure>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10">
                                            <div class="title"><h3>¿Cómo propagar la Agilidad a través de la generación de un Movimiento?.</h3>Luis Mulato - Colombia</div>
                                        </div>
                                    </div>
                                    <i class="fa fa-plus"></i>
                                </a><!-- .panel-header -->
                                <div id="day2-4" class="panel-collapse collapse description">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                                            <div class="panel-body">
                                                <p>¿Después de muchos meses sigues siendo el único que hace la misma charla de Agilismo (Scrum, XP, etc.) a los miembros de tu organización? ¿Eres un miembro de equipo, el líder de un área/equipo o incluso el jefe de la compañía quien sigue empujando la iniciativa y desearías no estar solo? Si es así, esta charla es para ti.</p>

                                                <p>En esta sesión buscaremos la respuesta a ¿cómo propagar la Agilidad a través de la generación de un Movimiento?</p>
                                                
                                                <p>Compartiré mi experiencia en la generación de comunidades Ágiles aplicada a las organizaciones, donde aprenderemos por qué ya no solo es el poder, ni el dinero sino el liderazgo y la generación de tribus la nueva forma de generar cambios en las organizaciones.</p>

                                                <p>Entenderemos algunas estrategias que existen alrededor de la generación estos “Movimientos” para la conformación de estas tribus. Y presentaré qué características y tácticas pueden usar hoy los líderes Ágiles para poder llevarlo a cabo.</p>

                                                <p>Más allá de esto, busco inspirar y motivar a aquellos Agentes de Cambio que desean ser parte de un proceso de transformación para lograr hacer organizaciones más felices.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .panel-collapse -->
                            </div><!-- .panel -->

                        </div>
                    </div><!-- .tab-pane -->
                </div><!-- .tab-content -->
            </div><!-- .container -->
        </section>
        <!-- end Schedule -->

        <!-- Speakers -->
        <section id="speakers" class="block">
            <div class="container">
                <header>
                    <h2><a href="#speakers" class="roll">Speakers de Kleer en Ágiles 2015</a></h2>
                </header>

                <section class="speakers background-stripe">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#israel">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="http://www.gravatar.com/avatar/8f90ff5fd8ecf9d6fe54953d856bba45?size=125" alt="">
                                </aside>
                                <h3>Israel Antezana</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Bolivia</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#yamit">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/ce5bae662027787ad70ba1f7add1eaff?size=125" alt="">
                                </aside>
                                <h3>Yamit Cárdenas</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Colombia</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#rick">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/d3968e159690384999aebc9f0f62b828?size=125" alt="">
                                </aside>
                                <h3>Ricardo Colusso</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Argentina</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#juan">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="http://www.gravatar.com/avatar/72c191f31437b3250822b38d5f57705b?size=125" alt="">
                                </aside>
                                <h3>Juan Gabardini</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Argentina</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                    </div><!-- .row -->
                </section><!-- .speakers -->

                <section class="speakers background-stripe">
                    <div class="row">

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#hiro">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/3a39c4fe86b368b3d7499ab28997541d?size=125" alt="">
                                </aside>
                                <h3>Hiroshi Hiromoto</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Perú</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#luis">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/a116e2b230e6738dc704cedd3662f07e?size=125" alt="">
                                </aside>
                                <h3>Luis Mulato</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Colombia</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#angel">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/a7119e9b6be678f43708b31d0258c37c?size=125" alt="">
                                </aside>
                                <h3>Angel Núñez</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Perú</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#gustavo">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/d884bfc94976ad940fc40e12dc156758?size=125" alt="">
                                </aside>
                                <h3>Gustavo Quiroz</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Perú</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                      </div><!-- .row -->
                  </section><!-- .speakers -->

                  <section class="speakers background-stripe">
                      <div class="row">

                        <div class="col-md-3 col-sm-3">
                          &nbsp;
                        </div>

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#martin">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="http://www.gravatar.com/avatar/d30d818ef612cb5f4de1b8514a8b1996?size=125" alt="">
                                </aside>
                                <h3>Martín Salías</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Argentina</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->

                        <div class="col-md-3 col-sm-3">
                            <div class="speaker">
                                <aside class="image">
                                    <div class="plus-wrapper" data-toggle="modal" data-target="#pablo">
                                        <div class="plus"><i class="fa fa-plus"></i></div>
                                    </div>
                                    <img src="https://s.gravatar.com/avatar/74734f9ceda241e1b2f5c3174e47158c?size=125" alt="">
                                </aside>
                                <h3>Pablo Tortorella</h3>
                                <h4>Agile Coach & Trainer</h4>
                                <h4>Argentina</h4>
                            </div><!-- .speaker -->
                        </div><!-- .col-md-3 -->


                        <div class="col-md-3 col-sm-3">
                          &nbsp;
                        </div>

                    </div><!-- .row -->
                </section><!-- .speakers -->


            </div><!-- .container -->
        </section>
        <!-- end Speakers -->
        <hr>

        <%= erb(:_videos, :layout => false) %>

        